video{
    width: 100%;
    height: 100%;
    border-radius: 2%;
}

.newGraphic{
    transform: translateY(150%) translateX(-3%) ;
}


.translation{
    transform: translateY(9.6%) translateX(0.8%) ;
}

.animation{
    -webkit-animation: fadein 4.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4.5s; /* Firefox < 16 */
     -ms-animation: fadein 4.5s; /* Internet Explorer */
      -o-animation: fadein 4.5s; /* Opera < 12.1 */
         animation: fadein 4.5s;
}


@keyframes fadein {
 from {opacity: 0;}
 to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
 from {opacity: 0;}
 to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
 from {opacity: 0;}
 to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
 from {opacity: 0;}
 to { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
 from {opacity: 0;}
 to   { opacity: 1; }

}

